
body {
    background-color: #262626;
    color: #F2AC29;
    padding: 0;
    margin: 0;
    font-family: geologica-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "CRSV" 0, "SHRP" 0, "slnt" 0, "wght" 100;
}

.content {
    margin: 50px;
}

nav {
    background-color: #F2AC29;
    width: 100vw;
    padding: 0;
    position: sticky;
    top: 0;
  }
  
nav ul {
    margin: 0;
    padding: 1.25vh;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
 
nav li {
    padding: .5em 1em;
  }

nav li a{
    text-decoration: none;
    color: #262626;
    font-weight: 600; 
    padding: 1.5vh;
    transition: ease-in-out;
    transition: color 1s;
    transition: font-size 1s;
  }

@media screen and (max-height: 400px) {
    nav li a {
      text-decoration: none;
      font-weight: 600; 
      padding: 1.75vh;
      transition: ease-in-out;
      transition: color 1s;
      transition: font-size 1s;
    }
  }

nav li a:hover {
    background-color: #262626;
    color: #F2AC29;
    font-size: 1.25rem;
    border-radius: 1.25rem;
  }

a {
    text-decoration:none;
    color: #a6a6a6;
    padding: .5rem;
    border-radius: .75rem;
    transition: ease-in-out;
    transition: background-color 1s;
    transition: color 1s;
  }

a:hover {
    background-color: #F2AC29;
    color: #262626;
  }

h1, h2{
color: white;
font-family: abril-fatface, serif;
font-style: normal;
font-weight: 400;
}

#button{
    background-color: #a6a6a6;
    border: none;
    color: #262626;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
}

p{
    color: #a6a6a6;
}