
body {
    background-color: #262626;
    color: #F2AC29;
    margin: 50px;

    font-family: geologica-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "CRSV" 0, "SHRP" 0, "slnt" 0, "wght" 100;
}

h1, h2{
color: white;
font-family: abril-fatface, serif;
font-style: normal;
font-weight: 400;
}

#button{
    background-color: #a6a6a6;
    border: none;
    color: #262626;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
}

p{
    color: #a6a6a6;
}