body {
    width: 100vw;
    height: 100vh;
}

#container {
    width: 98vw;
}

.header {
    font-size: 1.75rem;
    font-weight: 700;
}

p {
    text-align: center;
}

.subheader {
    font-size: 1.25rem;
    font-weight: 600;
}

#series-list {
    display: grid;
    width: 100%;
    /* fr represents a fraction of available space in grid container */
    /* 1 fr = 1 part of available space, space will be shared equally by children */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    column-gap: 4vw;
    row-gap: 1vw;
}

@media screen and (max-width: 1000px) {
    #series-list {
        display: flex;
        flex-direction: column;
    }
}

.grid-image {
    object-fit: fill;
}

.grid-text {
    align-self: first baseline;
}
